/* Najpierw ustawiamy "body", czyli naszą wyświetlaną stroną jako całość */
body { margin:0; padding:0; }

/* A następnie ustawiamy właściwości 'map'. Hasztag oznacza, że odwołujemy się do 
    obiektu o takim ID (u nas jest to ten jedyny <div> */
#map { position:absolute; top:0; bottom:0; width:100%; }

.mapboxgl-popup-content {
    background: #bd7961ff;
}
.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}