/* Najpierw ustawiamy "body", czyli naszą wyświetlaną stroną jako całość */
body { margin:0; padding:0; }

/* A następnie ustawiamy właściwości 'map'. Hasztag oznacza, że odwołujemy się do 
    obiektu o takim ID (u nas jest to ten jedyny <div> */
#map { position:absolute; top:0; bottom:0; width:100%; }

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 180px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }

  .mapboxgl-popup-content-wrapper {
    padding: 1%;
  }


.mapboxgl-popup-content h3 {
    background: #d3cc96ff;
    color: #3b2727ff;
    text-align: center;
    font-size: 20px;
    font-family: "Luminary", fantasy;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
  }

  .mapboxgl-popup-content h4 {
    background: #ffffffff;
    text-align: center;
    font-size: 16px;
    font-family: 'Century Gothic';
    margin: 0;
    display: block;
    padding: 10px;
    font-weight: 600;
  }


  .mapboxgl-popup-content div {
    padding: 10px;
  }

.mapboxgl-popup-close-button {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: #d3cc9600;
    margin-right: -4px;
    margin-top: -18px; 
}


@font-face {
  font-family: "headlinerno.45";
  src: url(fonts/headlinerno.45_demo-webfont.woff), url(fonts/headlinerno.45_demo-webfont.woff2);
}

@font-face {
  font-family: "jersey_m54";
  src: url(fonts/jersey_m54/Jersey\ M54.rtf), url(fonts/jersey_m54/Jersey\ M54.ttf);
}

@font-face {
  font-family: "gunplay rg";
  src: url(fonts/gunplay/gunplay\ rg.ttf);
}

@font-face {
  font-family: "powerpuff_girls";
  src: url(fonts/powerpuff_girls/powerpuff\ girls\ font.ttf);
}

@font-face {
  font-family: "vintage_college_dept_worn";
  src: url(fonts/vintage_college_dept_worn/VINTAGE\ COLLEGE\ DEPT_worn.otf);
}

@font-face {
  font-family: "highvoltage_rough";
  src: url(fonts/highvoltage_rough/HighVoltage\ Rough.ttf);
}

@font-face {
  font-family: "loud_and_clear_2";
  src: url(fonts/loud_and_clear_2/LOUD\ AND\ CLEAR\ PERSONAL\ USE.ttf);
}




.navbar{
    background: #0d0e17e3;

}

.dropright{
    position: absolute;
    height: 300px;
    bottom: -200px;
    left: 0px;
    width: 50px;

}


.dropdown-menu.show {
  background: rgba(255, 255, 255, 0);
border: none;
}


.navbar-brand {
  color: rgb(255, 255, 255);
  font-family: "jersey_m54";
  font-size: 300% !important; 
  font-weight: 500;
}

.list-group-item{
    position: absolute;
    height: 104px;
    width: 190px;
    bottom: 15px;
    font-size: 20px;
    font-family: 'Century Gothic';
    font-weight: bold;
}

#plus18{
  position: absolute;
  background: rgb(110, 255, 74);
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
}

.btn-primary{
  width: 45%;
  height: 120px;
  background:rgb(74, 228, 255) !important;
}


#image1{
  margin-left: 44px;
}

#image2{
  margin-left: 25px;
}

#image3{
  margin-left: 30px;
}
